This is FooBar with foo ${foobar.foo} and bar ${foobar.bar}
#{if foobar.foo.equals("Yay")}
blabla
#{foozor foo:foobar, bar:'Baz'}
foozorBody
#{anonymous _foo.bar/}
${_bar}
#{/foozor}
#{elseif false}
kikoo
#{else}
zormao
*{Yay comment}*
#{/if}
%{ if (true) { }%
foooooooooo
barrr
%{ } }%
<br/>
#{foobar/}
#{if null}
woohoo
#{else}
yeepee ${graou} plouf
#{/if}
#{script src:'/script/lol.js'}
var foo='bar';
#{/script}
\#{escaped/}
#{hello msg:'Hello', name:hwd/}
#{anonymous 'Check'/}
<br/>
#{list items:list, as:'zor'}
->${zor}
#{/list}
<br/>
#{form '/dest/url/',method:'POST', id:'creationForm',enctype:'multipart/form-data' }
<input type="button" value="submit"/>
#{/form}